name: Makefile CI

on:
  # Run using manual triggers from GitHub UI:
  # https://docs.github.com/en/actions/managing-workflow-runs/manually-running-a-workflow
  workflow_dispatch: {}
  # Run on every push:
  push: {}
  # Run on pull request activity:
  pull_request: {}


jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-14] # aarch64 machine for cosim.

    runs-on: ${{ matrix.os }}

    steps:

    - uses: DeterminateSystems/nix-installer-action@main

    - name: Install cadical
      run: nix profile install nixpkgs#cadical

    - uses: actions/checkout@v4

    - uses: leanprover/lean-action@v1
      with:
        auto-config: false
        use-mathlib-cache: false
        use-github-cache: true

    - name: Cache `.lake` folder
      id: cache-lake
      uses: actions/cache@v4
      with:
        path: .lake
        key: ${{ runner.os }}-lake

    - name: Build AWS-LC and running ELFSage tests (Ubuntu)
      if : ${{ runner.os != 'macOS' }}
      run: |
        ./scripts/top.sh
        make awslc_elf

    - name: Run LNSym Makefile (Ubuntu)
      if : ${{ runner.os != 'macOS' }}
      run: |
          make all

    - name: Run LNSym Cosimulation (MacOS)
      if : ${{ runner.os == 'macOS' }}
      run: |
          make cosim NUM_TESTS=100
