name: Makefile CI

on:
  # Run using manual triggers from GitHub UI:
  # https://docs.github.com/en/actions/managing-workflow-runs/manually-running-a-workflow
  workflow_dispatch: {}
  # Run on every push:
  push: {}
  # Run on pull request activity:
  pull_request: {}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - uses: DeterminateSystems/nix-installer-action@main

    - name: Install cadical
      run: nix profile install nixpkgs#cadical

    - uses: actions/checkout@v4

    - uses: leanprover/lean-action@v1.0.0
      with:
        use-mathlib-cache: false
        use-github-cache: true

    - name: Build LNSym
      run: |
          pwd
          ls
          make tests