name: Makefile CI

on:
  # Run using manual triggers from GitHub UI:
  # https://docs.github.com/en/actions/managing-workflow-runs/manually-running-a-workflow
  workflow_dispatch: {}
  # Run on every push:
  push: {}
  # Run on pull request activity:
  pull_request: {}


jobs:
  build:

    runs-on: [ubuntu-latest, macos-14] # aarch64 machine for cosim.

    steps:

    - uses: DeterminateSystems/nix-installer-action@main

    - name: Install cadical
      run: nix profile install nixpkgs#cadical

    - uses: actions/checkout@v4

    # We would like to use `leanprover/lean-action`, but it doesn't work on macOS just yet:
    #   https://github.com/leanprover/lean-action/issues/83
    - name: Install elan
      run: |
        set -o pipefail
        curl https://raw.githubusercontent.com/leanprover/elan/master/elan-init.sh -sSf | sh -s -- --default-toolchain none -y
        ~/.elan/bin/lean --version
        echo "$HOME/.elan/bin" >> $GITHUB_PATH

    - name: Cache `.lake` folder
      id: cache-lake
      uses: actions/cache@v4
      with:
        path: .lake
        key: ${{ runner.os }}-lake

    - name: Run LNSym Makefile (Ubuntu)
      if : runner.os != 'macos-14' # not a cosim machine, so build all tests.
      run: |
          make all

    - name: Run LNSym Cosimulation (MacOS)
      if : runner.os == 'macos-14' # cosim machine, run cosim.
      run: |
          make cosim NUM_TESTS=100
